.app.dark {
    --bg-color: #344E41;
    --inventory-bg-color: #DAD7CD;

    --primary-color: #DAD7CD;
    --inventory-primary-color: #344E41;

    --secondary-color: #A3B18A;
    --inventory-secondary-color: #3A5A40;

}